aiohttp
alembic
altair
asgiref==3.9.1
attrs
beautifulsoup4
black
bokeh
click
cloudpickle
colorama
dask
debugpy
decorator
defusedxml
docutils
dotenv==0.9.9
flake8
Flask
greenlet
h11
h5py
holoviews
httpcore
httpx
hvplot
idna
ipykernel
ipython
ipywidgets
isort
joblib
jupyter
jupyterlab
jupyterlab-server
keyring
kiwisolver
lazy-object-proxy
lxml
matplotlib==3.9.2
nbclient
nbconvert
nbformat
networkx
nltk
notebook
numba
numexpr
numpy
openpyxl
packaging
pandas
panel
param
parsel
parso
partd
pillow
pip
platformdirs
plotly
pluggy
psutil
pytest
python-dateutil
python-dotenv
pyarrow
pycparser
pyflakes
Pygments
PyJWT
pylint
PyQt5==5.15.10
PyQtWebEngine==5.15.6
requests
scikit-image
scikit-learn
scipy
seaborn
selenium
setuptools==75.1.0
six
sniffio
snowballstemmer
sortedcontainers
soupsieve
SQLAlchemy
sqlparse==0.5.3
sympy
tabulate
tenacity
terminado
textdistance
threadpoolctl
tomli
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
ujson
urllib3
watchdog
wcwidth
websockets
Werkzeug
wheel==0.44.0
widgetsnbextension
xarray
xlwings
zipp